<ion-header>
  <ion-toolbar>
    <ion-title>Nouveau Skin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input type="text" label="Image" [(ngModel)]="skin.pictureLink"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" label="Nom" [(ngModel)]="skin.title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" label="Date" [(ngModel)]="skin.releaseDate"></ion-input>
  </ion-item>
  <p class="text-center">
    <ion-button (click)="add()">Envoyer</ion-button>
  </p>
</ion-content>
